.movieCard {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  color: white;
  background-color: #292f37;
}
.movieCardFeatures {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 5px;
  list-style: none;
}
.movieCardImage {
  width: 200px;
  height: 300px;
}
.additionalInfoTitle {
  color: white;
  background-color: #292f37;
}
.additionalInfoList {
  color: white;
  list-style: none;
  background-color: #292f37;
  padding-bottom: 15px;
}
a {
  color: white;
}
.movieTitle {
  margin: 0;
  font-weight: 700;
  font-size: 26px;
}
.movieFeatureTitle {
  margin: 0;
  font-weight: 650;
  font-size: 20px;
}
.movieFeatureDescription {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}
.backLink {
  display: inline-block;
  margin: 5px 0px;
  padding: 2px;
  border-radius: 4px;
  background-color: #b2b4b7;
  color: white;
  text-align: center;
  transition: background-color 0.2s;
}
.backLink:hover {
  background-color: #b2b4b75c;
}
.backLink:focus {
  background-color: #b2b4b75c;
}

p, h5 {
  color: white;
}

a:hover {
  color: #b2b4b75c;
}