.navigationContainer {
  box-sizing: border-box;
  background-color: #131820;
  position: absolute;
  top: 0;
  left: 0;
  width: 99vw;
  display: flex;
  gap: 20px;
  padding-inline: 10px;
  padding-block: 10px;
}
.navLink {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #b2b4b7;
  background-color: #1a1e25;
  border-radius: 40px;
  padding-inline: 20px;
  padding-block: 10px;
  text-decoration: none;
  transition: color , padding-inline 0.2s;
}
.icon {
  display: none;
}
.active {
  color: white;
}
.active .icon {
  display: inline;
}
.navLink:hover {
  padding-inline: 50px;
  color: white;
}
.navLink:hover .icon {
  display: inline;
}
.navLink:focus {
  color: white;
}
