.searchBar {
  box-sizing: border-box;

  display: flex;
  gap: 20px;
  width: 500px;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: raw;
  justify-content: center;
  border: solid 2px rgba(37, 111, 35, 0.644);
  border-radius: 8px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.searchBar Input {
  width: 350px;
  border: none;
  border-radius: 8px;
  background: rgba(214, 232, 213, 0.644);
  display: block;
  font-size: 16px;
  font-weight: 500;
}
.searchBar Input:focus {
  background: rgba(188, 239, 186, 0.644);
  outline: none;
}
.searchBar Button {
  border-radius: 8px;
  height: 40px;
  background: #289f1bab;
  padding: 8px 16px;
  border: solid 1px rgb(141, 179, 181);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  color: #fff;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: transparent;
}
.searchBar Button:hover {
  background: #03562e;
}
.searchBar Button:focus {
  background: #03562e;
  outline: none;
}
.pageNumber {
  margin: 0;
}
