.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.movieList li {
  margin: 10px;
  list-style: none;
  flex: 0 0 calc(33.33% - 20px);
}

.movieCardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.2s;
}

.movieCardImage:hover {
  opacity: 0.7;
}

.movieLink {
  color: #b2b4b7 !important;
  text-decoration: none;
  color: inherit;
  text-align: center;
}